.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content a {
  color: #0070f3;
  text-decoration: none;
}

.content a:hover, .content a:focus, .content a:active {
  text-decoration: underline;
}

.header {
  margin-bottom: 44px;
}

.header h1 {
  margin-bottom: 0;
}
